Source: fan2go
Section: utils
Priority: optional
Maintainer: John Byrd <johnwbyrd@gmail.com>
Build-Depends: debhelper-compat (= 13),
               dh-golang,
               golang-1.24 (>= 1.24.1),
               libsensors-dev,
               help2man
Standards-Version: 4.6.2
Vcs-Git: https://github.com/johnwbyrd/fan2go-package.git
Vcs-Browser: https://github.com/johnwbyrd/fan2go-package
Homepage: https://github.com/markusressel/fan2go

Package: fan2go
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
         lm-sensors,
         systemd
Description: Advanced fan control daemon
 fan2go is a utility to control system fans based on temperature readings
 from lm-sensors. It provides configurable fan curves and can run as a
 systemd service.
 .
 Features:
  * Precise temperature-based fan control
  * Support for various hardware sensors
  * Customizable fan curves
  * Systemd service integration
